pypdf==3.5.0
azure-identity==1.13.0b4
azure-search-documents==11.4.0b3
azure-ai-formrecognizer==3.2.1
azure-storage-blob==12.14.1
langchain==0.0.78
openai==2.24.0
Flask==2.2.2
pinecone==8.1.0
python-dotenv==0.21.0
python-dotenv==0.21.0
sentence-transformers==5.2.3